@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  font-family: 'Regular_Regular';
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(22, 22, 22);
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.20);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: min(50%, 900px);
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 3em;
  font-family: 'Bold_Regular';
  font-weight: 900;
  text-transform: uppercase;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p{
  font-family: 'Regular_Regular';
  width: 100%;
  font-size: 1.3em;
  line-height: 2rem;
  margin-bottom: 0px;
}

/* .home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
} */

:root {
  --white: #fff;
  --dark-grey: #3a3a3a;
  --regular-grey: #868686;
}

a {
  text-decoration: none;
  color: var(--dark-grey );
}

.hero-stats {
  color: var(--white);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.hero-stats h3 {
  font-size: 18px;
  font-family: 'Ultra_Light_Regular';
}

.hero-stats span {
  font-family: 'Bold_Regular';
}

.hero-buttons {
  display: inline-flex;
}

.hero-buttons img {
  width: 40px;
  height: 40px;
}

.hero-buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  text-decoration: none;
}

.hero-buttons h5 span {
  color: var(--white);
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 12px;
  padding-top: 2px;
  font-family: 'Bold_Regular';
  letter-spacing: .5px;
  transition: color 0.3s ease-in;
}


.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  opacity: 0;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
  opacity: 0;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
  opacity: 0;
}

.home .media-icons a:hover{
  transform: scale(1.3);
  opacity: 0;
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: gold;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(3, 3, 3);
  }

::selection {
    color: white;
    background: rgb(3, 3, 3);
  }

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  body {
    opacity: 0;
    background-color: black;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
    opacity: 0;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}

@import url("https://rsms.me/inter/inter-ui.css");


.titan-background {
  position: absolute;
  width: 100%;
  /* background-image: linear-gradient(-180deg, #000000 0%, #200835 100%); */
  overflow: hidden;
  z-index: 1;
  /* Make the rubber band scroll not show empty white space */
  top: -10%;
  height: 100%;
  min-height: 100vh;
  margin-bottom: -20%;
}

.stars {
  position: absolute;
  top: 0;
  width: 300vw;
  height: 100vh;
  transform: translate(0%, 0%);
  background-size: contain;
  background-repeat: repeat;
  transform-origin: top left;
}

.stars-L {
  background-image: url("videos/stars-L.svg");
  background-size: 890px;
  height: 750px;
  animation: panning-stars 200s linear infinite alternate;
}

.stars-M {
  background-image: url("videoss/stars-M.svg");
  height: 530px;
  animation: panning-stars 300s linear infinite alternate;
}

.stars-S {
  background-image: url("videos/stars-S.svg");
  height: 370px;
  animation: panning-stars 400s linear infinite alternate;
}

@keyframes panning-stars {
  from {
    transform: translate(-20%, 0%);
  }
  to {
    transform: translate(-80%, -40%);
  }
}



@media (max-width: 500px) {
  h1 {
    font-size: 16vw;
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.title-marvel {
  font-weight: bolder;
  color: #020103;
  letter-spacing: -6.7px;
  text-transform: uppercase;
  padding: 0 16px;
  background: #9b00f5;
}

.title-studios {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #9b00f5;
  letter-spacing: -4.5px;
  text-transform: uppercase;
  padding: 0 16px;
  border-color: #9b00f5;
  border-top: 8px solid;
  border-bottom: 8px solid;
  line-height: 1;
}

code {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  margin-bottom: 104px;
}

.installation-instructions,
.usage-instructions {
  margin-top: 64px;
}

.footer {
  margin-top: 224px;
}

.footer img {
  height: 104px;
  width: auto;
}
